:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(120, 6, 0, 0.75);
  --left-button-hover-color: rgba(255, 255, 255, 0.85);
  --right-bg-color: rgba(120, 6, 0, 0.75);
  --right-button-hover-color: rgba(255, 255, 255, 0.85);
  --hover-width: 60%;
  --other-width: 40%;
  --speed: 1000ms;
}
@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Light.html');
	src: local('â˜º'), url('fonts/Montserrat-Light-2.html') format('woff'), url('fonts/Montserrat-Light-3.html') format('truetype'), url('fonts/Montserrat-Light-4.html') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Medium.html');
	src: local('â˜º'), url('fonts/Montserrat-Medium-2.html') format('woff'), url('fonts/Montserrat-Medium-3.html') format('truetype'), url('fonts/Montserrat-Medium-4.html') format('svg');
	font-weight: 500;
	font-style: normal;
}
html, body {
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
}

.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 40px;
  line-height: 40px;
  width: 100px;
  text-align: center;
  color: #222;
  font-size: 14px;
  text-decoration: none;
  transform: translateX(-50%);
  font-weight: 300;
  background: #fff;
  border-radius: 2px;
}
.logo-o{
    display: block;
    position: fixed;
    width: 184px;
    height: 184px;
    background: rgba(153, 36, 30, 0.5);
    border-radius: 100%;
    left: 50%;
    margin-left: -92px;
    top: 50%;
    margin-top: -92px;
    z-index: 4;
    transition: var(--speed) all ease-in-out;
}
.logo-c{
    display: block;
    width: 174px;
    height: 174px;
    background: #99241e;
    text-align: center;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 5px;
}
.logo-c img{
    position: relative;
    z-index: 6;
    width: 130px;
    margin-top: 55px;
}
.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left:0;
  background: url('left.jpg') center center no-repeat;
  background-size: cover;
  border-right: 3px solid #fff;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right:0;
  background: url('right.jpg') center center no-repeat;
  background-size: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
  border-left: 3px solid #fff;
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}
.logo-l{
    left: 40%;
}
.logo-r{
    left: 60%;
}
.hover-left .left {
  width: var(--hover-width);
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}


.hover-right .right {
  width: var(--hover-width);
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}

@media(max-width: 800px) {
  .split {
    width: 100%;
    height: 50%;
  }
  .split.left {
    left:0;
    border-right: 0;
    border-bottom: 3px solid #fff;
  }

  .split.right {
    left:0;
    top: 50%;
  }

  .split.right:before {
    border-left: 0;
    border-top: 3px solid #fff;
  }
  h1 {
    font-size: 24px;
  }

  .button {
    width: 100px;
    top: 56%;
  }


  .logo-l{
      left: 50%;
      top: 40%;
  }
  .logo-r{
      left: 50%;
      top: 60%;
  }
  .hover-left .left {
    width: 100%;
    height: 60%;
  }

  .hover-left .right {
    width: 100%;
    height: 40%;
    top: 60%;
  }


  .hover-right .right {
    width: 100%;
    height: 60%;
    top: 40%;
  }

  .hover-right .left {
    width: 100%;
    height: 40%;
  }



}
