{% extends "base.html" %}
{% load static %}
{% block content %}

<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-8">
            <div class="breadcrumb_iner">
               <div class="breadcrumb_iner_item">
               <!-- <div style="background-image: url({ % static img/login.jpg' %});"></div> -->
               <h3>{% if menu_request %}
                  {{menu_request}}
               </h3>
                  {% else %}
                  
                      <a>{{ object.brendcategory.name }}</a>
                    
                 
                  {% endif %}
               
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- breadcrumb start-->
<section class="cat_product_area section_padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-3">
            <div class="left_sidebar_area">
               <aside class="left_widgets p_filter_widgets">
                  <div class="l_w_title">
                     <h3>{% if menu_request %}
                        {{menu_request}}
                        {% else %}
                        <ul class="list">
                           <li>
                             <a class="active" href="{% url 'core:product' %}?menu={{category.get.category}}">
                             <span>Kateqoriyaya qayit</span> &nbsp;&nbsp;&nbsp;{{ object.brendcategory.name }}</a>
                          </li>
                        </ul>
                        {% endif %}
                     </h3>
                      </div>
                  <div class="widgets_inner">
                     <ul class="list">
                           
                        {% for item in category %}
                        {% if item.category  %}
                        <li>
                           <a href="{% url 'core:product' %}?category={{item.id}}">{{item.name}}</a>
                           <!-- <span>(250)</span> -->
                        </li>
                        {% endif%}
                        {% endfor %}
                        <!-- <ul class="list">
                           <li>
                              <a class="active" href="{% url 'core:product' %}?menu={{menu_request}}">
                              <span>Kateqoriyaya</span> &nbsp;&nbsp;&nbsp;{{ object.brendcategory.name }}</a>
                           </li>
                        </ul>{{ category }} -->
                     </ul>
                  </div>
               </aside>
            </div>
         </div>
         <div class="col-lg-9">
            <!-- <div class="row">
               <div class="col-lg-12">
                   <div class="product_top_bar d-flex justify-content-between align-items-center">
                       <div class="single_product_menu">
                           <p><span>10000 </span> Prodict Found</p>
                       </div>
                       <div class="single_product_menu d-flex">
                           <h5>short by : </h5>
                           <select>
                               <option data-display="Select">name</option>
                               <option value="1">price</option>
                               <option value="2">product</option>
                           </select>
                       </div>
                       <div class="single_product_menu d-flex">
                           <h5>show :</h5>
                           <div class="top_pageniation">
                               <ul>
                                   <li>1</li>
                                   <li>2</li>
                                   <li>3</li>
                               </ul>
                           </div>
                       </div>
                       <div class="single_product_menu d-flex">
                           <div class="input-group">
                               <input type="text" class="form-control" placeholder="search"
                                   aria-describedby="inputGroupPrepend">
                               <div class="input-group-prepend">
                                   <span class="input-group-text" id="inputGroupPrepend"><i
                                           class="ti-search"></i></span>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               </div> -->
            <div class="row align-items-center latest_product_inner">
               {% for item in items %}
               {% if item %}
               <div class="col-lg-4 col-sm-6">
                  <div class="single_product_item">
                     <a href="{{ item.get_absolute_url }}">
                     <img src="{{ item.items.first.images.url }}" alt="">
                     </a>
                     <div class="single_product_text">
                        <h4>{{ item.title}}</h4>
                        {% if item.discount_price%}
                        <del><h3>{{ item.price}} AZN</h3></del>
                        <h3>{{ item.discount_price }} AZN</h3>
                        {% else %}
                        <h3>{{ item.price}} AZN</h3>
                         {% endif %}  
                         
                        <!-- <a href="{{ item.get_add_to_cart_url }}" class="add_cart">+ add to cart<i class="ti-heart"></i></a> -->
                     </div>
                  </div>
               </div>
               {% endif %}
               {% endfor %}
               {% if is_paginated %}
               <div class="col-lg-12">
                  <div class="pageination">
                     <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                           {% if page_obj.has_previous %}
                           <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                              <i class="ti-angle-double-left"></i>
                              </a>
                           </li>
                           {% endif %}
                           <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                              <span class="sr-only">(current)</span>
                              </a>
                           </li>
                           {% if page_obj.has_next %}                            
                           <li class="">
                              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                              <i class="ti-angle-double-right"></i>
                              </a>
                           </li>
                           {% endif %}
                        </ul>
                     </nav>
                  </div>
               </div>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</section>
<!--================End Category Product Area =================-->
<!-- product_list part start-->
<!-- <section class="product_list best_seller">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-12">
            <div class="section_tittle text-center">
               <h2>Best Sellers <span>shop</span></h2>
            </div>
         </div>
      </div>
      <div class="row align-items-center justify-content-between">
         <div class="col-lg-12">
            <div class="best_product_slider owl-carousel">
               {% for item in last_items %}
               <div class="single_product_item">
                  <img src="{{ item.image.url }}" alt="">
                  <div class="single_product_text">
                     <h4>{{item.title}}</h4>
                     <h3>AZN{{ item.price }}</h3>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</section> -->
<!-- product_list part end-->
{% endblock content %}
